@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
* {
  box-sizing: border-box;
  text-align: auto;
  font-style: normal;
  font-size: 18px;
}
body {
  font-family: sans-serif;
  margin: 0px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(247, 199, 43);
  background: linear-gradient(90deg, rgba(141,233,233,1) 0%, rgba(48,170,75,1) 51%, rgba(0,255,70,1) 100%);
  background-size: cover;
  background-position: center;
}

.coming-soon-text {
  text-align: center;
  font-style: oblique;
  font-size: 30px;
}

img {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  border-radius: 35px;
  background-color: #93969965;
  transition-duration: 0.6s;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 60%;
}
img:hover {
  border-radius: 20px;
  background-color: #7f838691;
  transition-duration: 0.6s;
  width: 62%;
}

input[type='checkbox'] {
  display: none;
}

input {
  display: none;
}

hr {
  border-radius: 10%;
  color: #aca9a9;
}

.footer-text {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.footer-text-link {
  text-decoration: underline;
  font-size: 11.8px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.footer-text-link:hover {
  text-decoration: underline;
  font-size: 12.9px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

button {
  position: relative;
  vertical-align: middle;
  background-color: rgba(255, 255, 0, 0.637);
  border: none;
  z-index: 0;
  color: rgb(44, 43, 43);
  padding: 3px 9px;
  z-index: 1;
  text-align: center;
  border-radius: 6px;
  border: 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;
}
button:hover {
  background-color: rgba(153, 153, 4, 0.863);
  padding: 4px 10px;
  font-size: 14px;
}

.header {
  background: #68ad16;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border-radius: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.middle {
  text-align: center;
}

.bold {
  font-style: oblique;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 25px;
  text-align: center;
}
footer {
  margin: 0px;
  padding: 0px 6px;
  align-self: bottom;
  border-radius: inherit;
  text-align: center;
}
p {
  font-size: 18px;
}
.main-wrapper {
  margin: 11% 6%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 16px #000;
  background-color: #161616c2;
}
.content-wrapper {
  margin: 0px 2.4%;
  padding: 5px;
  color: #ddd;
  margin-bottom: 32px;
}

.content-wrapper a {
  color: rgb(202, 182, 93);
}
.content-wrapper a:hover {
  color: rgb(187, 157, 25);
}
.footer a {
  color: rgb(202, 182, 93);
}
.footer a:hover {
  color: rgb(187, 157, 25);
}

a {
  text-decoration: underline;
  font-size: 17.8px;
  transition-duration: 0.2s;
}
a:hover {
  text-decoration: underline;
  font-size: 19px;
  transition-duration: 0.2s;
}

.ignorethis {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1200px) {
  body {
      background-image: url('https://raw.githubusercontent.com/lane-site/lane-site.github.io/main/main-background-skydinse.png');
  }
}
@media (max-width: 1200px) {
  body {
      background-image: url('https://raw.githubusercontent.com/lane-site/lane-site.github.io/main/main-background-skydinse.png');
  }
}

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
  .container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: rgba(181, 184, 185, 0.795);
  display: flex;
}

.text {
  font-weight: 100;
  font-size: 26px;
  z-index: 0;
}

@media screen and (max-width: 320px) {
    .code-area {
		font-size: 5vw;
		min-width: auto;
        width: 95%;
		margin: auto;
		padding: 5px;
		padding-left: 10px;
    z-index: 0;
		line-height: 6.5vw;
    }
}

.button {
  position: relative;
  vertical-align: middle;  
  background-color: rgba(255, 217, 0, 0.692);
  border: none;
  z-index: 1;
  color: rgb(53, 52, 52);
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  border: 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;
  margin: 0;
  top: auto;
  left: auto;
}
.button:hover {
  position: relative;
  vertical-align: middle;
  background-color: rgba(172, 169, 9, 0.863);
  border: none;
  color: rgb(44, 44, 44);
  padding: 6px 15px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  z-index: 0;
  display: inline-block;
  font-size: 13.5px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  margin: 0;
  top: auto;
  left: auto;
}

.button-event {
  position: relative;
  vertical-align: middle;
  background-color: #b41919;
  border: none;
  z-index: 0;
  color: rgb(254, 254, 255);
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  border: 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;       
}
.button-event:hover {
  position: relative;
  vertical-align: middle;
  background-color: #720a0a;
  border: none;
  color: rgb(255, 255, 255);
  padding: 6px 15px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  z-index: 0;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.pages-list {
  font-size: 16px;
  text-align: right;
}

.pages-list a {
  font-size: 15.8px;
}

.pages-switch {
  font-size: 16px;
  text-align: right;
}
.pages-switch a {
  text-decoration: underline;
  font-size: 15.8px;
  color: rgb(198, 217, 241);
  transition-duration: 0.2s;
}
.pages-switch a:hover {
  text-decoration: underline;
  font-size: 17px;
  transition-duration: 0.2s;
}

.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  bottom: 0;
  font-size: 18px;
  text-align: center;
  padding: 1rem 2rem;
  background: #34637e;
  transition: all 10s cubic-bezier(0.19, 1, 0.22, 1);
}
.cookie-box--hide {
  opacity: 0;
  bottom: -100%;
}
.cookie-box-link {
  text-decoration: underline;
  font-size: 17.8px;
  color: #ddd;
  transition-duration: 0.2s;
}

.cookie-button {
  display: inline-block;
  cursor: pointer;
  padding: 0.65rem 0.85rem;
  margin-left: 0.45rem;
  color: #000;
  border-radius:10px 25%;
  transition-duration: 1.4s;
  font-size: 0.75rem;
  z-index: 4;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #d2edf5 0%, #22c7d3 100%);
  text-decoration: none;
  z-index: 2;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cookie-button:hover {
  display: inline-block;
  cursor: pointer;
  border-radius:10px 25%;
  padding: 0.85rem 1.05rem;
  z-index: 4;
  margin-left: 0.45rem;
  color: #000;
  transition-duration: 1.4s;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #22c7d3 0%, #d2edf5 100%);
  text-decoration: none;
  z-index: 2;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.collapsible {
  background-color: rgba(255, 255, 0, 0.438);
  color: rgb(41, 40, 40);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition-duration: 0.5s;
}

.collapsible:hover {
  background-color: rgb(255, 255, 0);
  color: rgb(97, 94, 94);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  transition-duration: 0.5s;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.dark {
  background-color: rgba(238, 155, 0, 0.712);
}

.tt {
  height: 2000px;
  background-color: white;
}

.red {
  background-color: rgba(204, 26, 26, 0.568);
}

.active, .collapsible:hover, .dark:hover {
  background-color: rgba(196, 196, 22, 0.733);
  transition-duration: 0.5s;
  font-size: 18px;
}

.active:hover {
  background-color: rgba(230, 230, 102, 0.623);
  transition-duration: 0.5s;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  transition-duration: 0.5s;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

video {
  border-radius: 30px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  font-size: 12px;
  overflow: hidden;
  border-radius: 7%;
  transition: max-height 0.2s ease-out;
  transition-duration: 0.35s;
  background-color: #5e5f612f;
}

.content:hover {
  border-radius: 9%;
  background-color: #7f848a2c;
}

.content-tt {
  padding: 0 18px;
  max-height: 0;
  font-size: 12px;
  overflow: hidden;
  border-radius: 7%;
  transition: max-height 0.2s ease-out;
  transition-duration: 0.35s;
  background-color: white;
}

.content-tt:hover {
  border-radius: 9%;
  background-color: white;
}

.info-banner {
  position: fixed;
  bottom: 20px;
  left: 7%;
  right: 7%;
  width: 86%;
  padding: 6px 15px;
  display: flex;
  z-index: 2;
  height: 5%;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(177, 26, 26, 0.918), rgba(216, 23, 23, 0.918));
  border-radius: 55px;
  transition-duration: 0.3s;
}

.info-banner:hover {
  left: 5%;
  right: 5%;
  height: 7;
  width: 90%;
  padding: 5px 14px;
  background: linear-gradient(rgba(177, 26, 26), rgba(216, 23, 23));
  border-radius: 60px;
  transition-duration: 0.3s;
}

.info-banner-close {
  height: auto;
  border: 5px;
  z-index: 1;
  background-color: rgb(136, 10, 10);
  font-size: 100%;
  color: white;
  width: auto;
  border-radius: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.info-banner-close:hover {
  height: auto;
  border: 7px;
  font-size: 120%;
  transition-duration: 20s;
  width: auto;
  border-radius: 40px;
}

.snow, .snow:before, .snow:after {
  position: absolute;
  top: -300px;
  left: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(3px 3px at 50px 233px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 462px 577px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 89px 109px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 424px 361px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 215px 111px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 202px 554px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 5s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -200px;
  opacity: 0.4;
  z-index: -1;
  animation-duration: 15s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: 40s;
  animation-direction: reverse;
  margin-left: -300px;
  z-index: -1;
  opacity: 0.65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY(600px);
  }
}