@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
* {
  box-sizing: border-box;
  text-align: auto;
  font-style: normal;
  font-size: 18px;
}
body {
  font-family: sans-serif;
  margin: 0px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(141,233,233);
  background: linear-gradient(90deg, rgba(141,233,233,1) 0%, rgba(48,170,75,1) 51%, rgba(0,255,70,1) 100%);
  background-size: cover;
  background-position: center;
}

.coming-soon-text {
  text-align: center;
  font-style: oblique;
  font-size: 30px;
}

img {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  border-radius: 35px;
  background-color: #b4d0f510;
  transition-duration: 0.6s;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 60%;
}
img:hover {
  border-radius: 20px;
  background-color: #b4d0f51e;
  transition-duration: 0.6s;
  width: 62%;
}

input[type='checkbox'] {
  display: none;
}

input {
  display: none;
}

hr {
  border-radius: 10%;
  color: #aca9a9;
}

.footer-text {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.footer-text-link {
  text-decoration: underline;
  font-size: 11.8px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.footer-text-link:hover {
  text-decoration: underline;
  font-size: 12.9px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

button {
  position: relative;
  vertical-align: middle;
  background-color: #40a9da71;
  border: none;
  z-index: 0;
  color: rgb(247, 247, 247);
  padding: 3px 9px;
  text-align: center;
  border-radius: 6px;
  border: 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;
}
button:hover {
  background-color: rgba(45, 106, 134, 0.369);
  padding: 4px 10px;
  font-size: 14px;
}

.header {
  background: #68ad16;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border-radius: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.middle {
  text-align: center;
}

.bold {
  font-style: oblique;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 25px;
  text-align: center;
}
footer {
  margin: 0px;
  padding: 0px 6px;
  align-self: bottom;
  border-radius: inherit;
  text-align: center;
}
p {
  font-size: 18px;
}
.main-wrapper {
  margin: 11% 6%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 16px #000;
  background-color: #1b1b1b79;
}
.content-wrapper {
  margin: 0px 2.4%;
  padding: 5px;
  color: #ddd;
  margin-bottom: 32px;
}

.content-wrapper a {
  color: #69a;
}
.footer a {
  color: #32b;
}

a {
  text-decoration: underline;
  font-size: 17.8px;
  transition-duration: 0.2s;
}
a:hover {
  text-decoration: underline;
  font-size: 19px;
  transition-duration: 0.2s;
}

.ignorethis {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1200px) {
  body {
      background-image: url('https://raw.githubusercontent.com/lane-site/lane-site.github.io/main/main-background.png');
  }
}
@media (max-width: 1200px) {
  body {
      background-image: url('https://raw.githubusercontent.com/lane-site/lane-site.github.io/main/main-background.png');
  }
}

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
  .container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: rgba(181, 184, 185, 0.795);
  display: flex;
}

.text {
  font-weight: 100;
  font-size: 26px;
  z-index: 0;
}

@media screen and (max-width: 320px) {
    .code-area {
		font-size: 5vw;
		min-width: auto;
        width: 95%;
		margin: auto;
		padding: 5px;
		padding-left: 10px;
    z-index: 0;
		line-height: 6.5vw;
    }
}

.button {
  position: relative;
  vertical-align: middle;
  background-color: #0b7aa7;
  border: none;
  z-index: 0;
  color: rgb(254, 254, 255);
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  border: 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;    
  margin: 0;
  top: auto;
  left: auto;   
}
.button:hover {
  position: relative;
  vertical-align: middle;
  background-color: #256b99;
  border: none;
  color: rgb(255, 255, 255);
  padding: 6px 15px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  z-index: 0;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  margin: 0;
  top: auto;
  left: auto;
}

.button-event {
  position: relative;
  vertical-align: middle;
  background-color: #b41919;
  border: none;
  z-index: 0;
  color: rgb(254, 254, 255);
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  border: 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;       
}
.button-event:hover {
  position: relative;
  vertical-align: middle;
  background-color: #720a0a;
  border: none;
  color: rgb(255, 255, 255);
  padding: 6px 15px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  z-index: 0;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.6s; 
  transition-duration: 0.6s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.pages-list {
  font-size: 16px;
  text-align: right;
}

.pages-list a {
  font-size: 15.8px;
}

.pages-switch {
  font-size: 16px;
  text-align: right;
}
.pages-switch a {
  text-decoration: underline;
  font-size: 15.8px;
  color: rgb(198, 217, 241);
  transition-duration: 0.2s;
}
.pages-switch a:hover {
  text-decoration: underline;
  font-size: 17px;
  transition-duration: 0.2s;
}

.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  bottom: 0;
  font-size: 18px;
  text-align: center;
  padding: 1rem 2rem;
  background: #34637e;
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
.cookie-box--hide {
  opacity: 0;
  bottom: -100%;
  z-index: 2;
}
.cookie-box-link {
  text-decoration: underline;
  font-size: 17.8px;
  color: #ddd;
  transition-duration: 0.2s;
}

.cookie-button {
  display: inline-block;
  cursor: pointer;
  padding: 0.65rem 0.85rem;
  margin-left: 0.45rem;
  color: #000;
  border-radius:10px 25%;
  transition-duration: 1.4s;
  font-size: 0.75rem;
  z-index: 3;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #d2edf5 0%, #22c7d3 100%);
  text-decoration: none;
  z-index: 2;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cookie-button:hover {
  display: inline-block;
  cursor: pointer;
  border-radius:10px 25%;
  padding: 0.85rem 1.05rem;
  z-index: 3;
  margin-left: 0.45rem;
  color: #000;
  transition-duration: 1.4s;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #22c7d3 0%, #d2edf5 100%);
  text-decoration: none;
  z-index: 2;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.info-box {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  bottom: 0;
  font-size: 18px;
  text-align: center;
  padding: 1rem 2rem;
  background: #34637e;
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
.info-box--hide {
  opacity: 0;
  bottom: -100%;
  z-index: 2;
}
.info-box-link {
  text-decoration: underline;
  font-size: 17.8px;
  color: #ddd;
  transition-duration: 0.2s;
}

.info-button {
  display: inline-block;
  cursor: pointer;
  padding: 0.65rem 0.85rem;
  margin-left: 0.45rem;
  color: #000;
  border-radius:10px 25%;
  transition-duration: 1.4s;
  font-size: 0.75rem;
  z-index: 3;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #d2edf5 0%, #22c7d3 100%);
  text-decoration: none;
  z-index: 2;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.info-button:hover {
  display: inline-block;
  cursor: pointer;
  border-radius:10px 25%;
  padding: 0.85rem 1.05rem;
  z-index: 3;
  margin-left: 0.45rem;
  color: #000;
  transition-duration: 1.4s;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #22c7d3 0%, #d2edf5 100%);
  text-decoration: none;
  z-index: 2;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.collapsible {
  background-color: rgba(91, 167, 218, 0.253);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition-duration: 0.5s;
}

.collapsible:hover {
  background-color: rgba(91, 167, 218, 0.37);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  transition-duration: 0.5s;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.dark {
  background-color: rgba(43, 82, 207, 0.377);
}

.active, .collapsible:hover {
  background-color: rgba(91, 167, 218, 0.37);
  transition-duration: 0.5s;
  font-size: 18px;
}

.active:hover {
  background-color: rgba(91, 167, 218, 0.514);
  transition-duration: 0.5s;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  transition-duration: 0.5s;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  font-size: 12px;
  overflow: hidden;
  border-radius: 10%;
  transition: max-height 0.2s ease-out;
  transition-duration: 0.35s;
  background-color: #b4d0f510;
}

.content:hover {
  border-radius: 15%;
  background-color: #b4d0f51e;
}

.info-banner {
  position: fixed;
  bottom: 20px;
  left: 7%;
  right: 7%;
  width: 86%;
  padding: 6px 15px;
  display: flex;
  z-index: 1;
  height: 5%;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(44, 163, 218, 0.918), rgba(35, 70, 168, 0.918));
  border-radius: 55px;
  transition-duration: 0.3s;
}

.info-banner:hover {
  left: 5%;
  right: 5%;
  height: 7;
  width: 90%;
  padding: 5px 14px;
  background: linear-gradient(rgb(44, 114, 218), rgb(13, 50, 151));
  border-radius: 60px;
  transition-duration: 0.3s;
}

.info-banner-close {
  height: 30px;
  border: 5px;
  z-index: 1;
  background: black;
  background-color: #5e565670;
  font-size: 100%;
  width: auto;
  border-radius: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.info-banner-close:hover {
  height: 40px;
  border: 7px;
  font-size: 120%;
  transition-duration: 0.5s;
  width: auto;
  border-radius: 40px;
}